body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

main {
    position: absolute;
    top: 60px; /* Adjusted for header height */
    bottom: 80px; /* Adjusted for bottom buttons height */
    width: 100%;
}

#map {
    position: relative;
    height: 100%;
    width: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    box-sizing: border-box;
}

.button {
    flex: 1;
    padding: 10px 20px;
    background-color: #282929;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 5px;
}

.button:hover {
    background-color: #282929;
}

#instructions {
    position: absolute;
    margin: 20px;
    width: 25%;
    top: 0;
    bottom: 20%;
    padding: 20px;
    background-color: #fff;
    overflow-y: scroll;
    font-family: sans-serif;
  }

  .marker {
    background-image: url('mapbox-icon.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }

  .mapboxgl-popup {
    max-width: 200px;
  }
  
  .mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }
